  <div class="container">
    <div class="col mt-5">
      <div class="card text-white bg-brand-facebook mb-2">
        <div class="card-header"><h2><%= @inventory.name.capitalize %></h2></div>
        <div class="card-body">
            <hr>
          <h5 class="card-title">Location:</h5>
          <p class="card-text"><%= @inventory.location %></p><br>
          <hr>
          <h5 class="card-title">Additional info:</h5>
          <p class="card-text"><%= @inventory.info %></p><br>
          <hr>
          <p style="font-size: 11px;">Originally created by: <%=@inventory.user.username.capitalize%></p>
          <p style="font-size: 11px;">Last updated: <%= @inventory.updated_at%></p>

        </div>
      </div>
      
      <a class="btn btn-secondary text-white mb-2" href="/inventories/<%=@inventory.id%>/edit">Edit</a>
    
    </div>


    
  </div>

