<div>

<div class="container d-flex justify-content-center pt-5">

  <div class="card mb-3">
    <%if @inventory.picture? %>
      <%= image_tag(@inventory.picture.url, class: "card-img-top", style: "max-width: 500px; max-height: 500px;")%>
    <%else%>
      <img class="card-img-top" src="../../quick-ui/src/assets/img/theme/light/no-img-upload-yet.jpg" alt="no image" style="max-width: 500px; max-height: 500px;">
    <%end%>
    <div class="card-body">
      <h5 class="card-title"><%= @inventory.name %></h5>
      <small class="card-text"> Location:</small>
      <p class="card-text"><%=@inventory.location %></p>

    </div>

    <p class="card-footer"><small class="text-muted">Created <%= time_ago_in_words(@inventory.created_at) %> ago, by: <%= @inventory.user.username.capitalize %>.
      edited <%= time_ago_in_words(@inventory.updated_at) %> ago</small>
      
    </p>
  </div>
</div>





  <div class="row justify-content-center">
    <div class="col-5 mt-4">
      <div class="card text-center mb-5 bg-black rounded">

        <div>
        <% if @inventory.services.any? %>
            <h5 class="text-white">Services:</h5>
            <%@inventory.services.each do |i|%>
            <span class="badge badge-white"><%=link_to i.name.upcase, service_path(i) %></span>
            <% end %>
            </br>
            </br>
        <% end %>
        <div>
  

        <div class="card-footer text-muted">
          <%= link_to "Edit", edit_inventory_path(@inventory), class: "btn btn-sm btn-outline-warning" %>
          <%= link_to "Delete", inventory_path(@inventory), class: "btn btn-sm btn-outline-warning", method: :delete, data: {confirm: "Are you sure?"} if current_user == @inventory.user%>
        </div>
      </div>
    </div>
  </div>
</div>
</div>